@import "topcoat-mobile-light.css";
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
input[type='text'] {
  width: 80%;
  font-size: 1.5em;
  display: block;
  margin: auto;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
a {
  color: $color_light_blue;
  text-decoration: none;
  font-weight: bold;
}
.topcoat-button,
.topcoat-button--large,
.topcoat-button--cta,
.topcoat-button--large--cta {
  font-size: 2em;
  border: 0;
  padding: 0.5em;
  margin: 0.5em;
}
.topcoat-button,
.topcoat-button--large {
  background-color: #96b8ff;
}
.topcoat-button--cta,
.topcoat-button--large--cta {
  background-color: #1b676b;
}
h1 {
  font-weight: 400;
  font-size: 2.5em;
}
table {
  margin: auto;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.page.center {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page.transition {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.join {
  font-size: 2em;
}
.menu {
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
  z-index: 11;
  background-color: #000;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.menu .topcoat-button,
.menu .topcoat-button--large {
  width: 1.7em;
  height: 1.7em;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.menu.closed {
  left: -30%;
}
.quit {
  background-image: url("../img/exit.png");
}
.center-map {
  background-image: url("../img/map-center.png");
}
.power-up {
  width: 1.5em;
  height: 1.5em;
  background-image: url("../img/map-center.png");
}
.toggle-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0;
  background-image: url("../img/cabinet.png");
}
#map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bottom-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
}
.tag {
  bottom: 2%;
  width: 30%;
  background-color: #c9001b;
  color: #fff;
}
