@import "topcoat-mobile-light.css";
@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab.ttf");
}
@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Extrabold.ttf");
  font-weight: 800;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Geared Slab';
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
}
h1 {
  font-weight: 800;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
input[type='text'] {
  width: 80%;
  font-size: 1.5em;
  display: block;
  margin: auto;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
a {
  color: $color_light_blue;
  text-decoration: none;
  font-weight: bold;
}
.topcoat-button,
.topcoat-button--large,
.topcoat-button--cta,
.topcoat-button--large--cta {
  font-size: 2em;
  border: 0;
  padding: 0.5em;
  margin: 1em auto;
  display: block;
}
.topcoat-button,
.topcoat-button--large {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
.topcoat-button--cta,
.topcoat-button--large--cta {
  background-color: #1b676b;
}
h1 {
  font-weight: 400;
  font-size: 2.5em;
}
table {
  margin: auto;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.page.center {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page.transition {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.join {
  font-size: 1.5em;
}
.loading-text {
  margin: 0.5em;
  font-size: 1.2em;
}
.instructions li {
  text-align: left;
}
.gm-style-cc,
.gmnoprint {
  display: none;
}
.timer {
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: #000;
}
.timer ul {
  padding: 0;
  list-style: none;
}
.menu {
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
  z-index: 11;
  background-color: rgba(0,0,0,0.7);
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.menu p {
  margin: 0.5em auto 0.25em auto;
  font-size: 0.9em;
}
.menu .topcoat-button,
.menu .topcoat-button--large {
  width: 1.7em;
  height: 1.7em;
  line-height: 1;
  margin: 0.5em auto;
  background-repeat: no-repeat;
  background-position: center;
}
.menu.closed {
  left: -30%;
}
.quit {
  background-image: url("../img/menu/exit.png");
}
.center-map {
  background-image: url("../img/menu/map-center.png");
}
.power-up.invisibility {
  background-image: url("../img/menu/power-up-invisibility.png");
}
.power-up.invincibility {
  background-image: url("../img/menu/power-up-invincibility.png");
}
.toggle-menu {
  position: absolute;
  top: -0.5em;
  left: 100%;
  margin: 0;
  background-image: url("../img/menu/hamburger.png");
}
#map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bottom-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
}
.tag {
  bottom: 12%;
  width: 40%;
  background-color: #1b676b;
  color: #fff;
}
.hidden {
  display: none;
}
.scoreboard {
  opacity: 0.6;
  background-color: #1b676b;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  width: 80%;
  height: 80%;
  z-index: 11;
  overflow: auto;
}
.scoreboard table {
  border-collapse: collapse;
}
.scoreboard table tr {
  border-bottom: 1px solid #fff;
}
.scoreboard table tr:last-child {
  border-bottom: none;
}
.scoreboard table td,
.scoreboard table th {
  border-left: 1px solid #fff;
  padding: 0.5em;
}
.scoreboard table td:first-child,
.scoreboard table th:first-child {
  border-left: none;
}
.modalMask {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 10;
}
