@import "topcoat-mobile-light.css"

// --------------------------------------------
// color definitions

$color_pastel_sky = #96B8FF
$color_medium_grass = #88C425
$color_medium_moss = #25C43E
$color_dark_grass = #519548
$color_dark_teal = #1B676B
$color_deep_red = #C9001B
$color_placeholder_text = #666

// --------------------------------------------
// font setup

@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab.ttf");
}

@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Geared Slab";
  src: url("font/GearedSlab-Extrabold.ttf");
  font-weight: 800;
}

// --------------------------------------------
// universal styles

body
  margin: 0
  padding: 0
  font-family: 'Geared Slab'
  font-size: 24px
  color: white
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: black

h1
  font-weight: 800
  margin-top: 0.7em
  margin-bottom: 0.7em

input[type='text']
  width: 80%
  font-size: 1.5em
  display: block
  margin: auto
  // padding: 0.5em
  // color: black
  // background-color: $color_light_blue
  // border: 0
  // border-radius: 8px

// NOTE: These placeholder text styles won't work if combined into 1 multi-selector
// Reference Source:
//   http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
// ::-webkit-input-placeholder
//   color: $color_placeholder_text
// :-moz-placeholder
//   color: $color_placeholder_text
// ::-moz-placeholder
//   color: $color_placeholder_text
// :-ms-input-placeholder
//   color: $color_placeholder_text

#container
  position: absolute
  width: 100%
  height: 100%
  text-align: center
  overflow: hidden

a
  color: $color_light_blue
  text-decoration: none
  font-weight: bold

.topcoat-button, .topcoat-button--large, .topcoat-button--cta, .topcoat-button--large--cta
  font-size: 2em
  border: 0
  padding: 0.5em
  margin: 1em auto
  display: block

.topcoat-button, .topcoat-button--large
  background-color: black
  color: white
  border: 1px solid white

.topcoat-button--cta, .topcoat-button--large--cta
  background-color: $color_dark_teal

h1
  font-weight: 400
  font-size: 2.5em

table
  margin: auto

// ----------------------------------------
// screen transitions

transform(n)
  -webkit-transform: n
  -moz-transform: n
  -ms-transform: n
  -o-transform: n
  transform: n

transition-duration(n)
  -webkit-transition-duration: n
  -moz-transition-duration: n
  -o-transition-duration: n
  transition-duration: n

.page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transform(translate3d(0, 0, 0))

.page.left
  transform(translate3d(-100%, 0, 0))

.page.center
  transform(translate3d(0, 0, 0))

.page.right
  transform(translate3d(100%, 0, 0))

.page.transition
  transition-duration(0.25s)

// --------------------------------------------
// "join" screen
.join
  font-size: 1.5em

// --------------------------------------------
// loading screen
.overflow-wrapper
  overflow-y: auto

.loading-text
  margin: 0.5em
  font-size: 1.2em

.instructions li
  text-align: left

// --------------------------------------------
// map
.gm-style-cc, .gmnoprint
  display none

.timer
  position: fixed
  text-align: center
  width: 100%
  font-size: 1.5em
  color: black
  ul
    padding: 0
    list-style: none

.menu
  height: 100%
  width: 30%
  position: absolute
  left: 0
  z-index: 11
  background-color: rgba(0, 0, 0, 0.7)
  transition-property: all
  transition-duration(0.1s)
  p
    margin: 0.5em auto 0.25em auto
    font-size: 0.9em
  .topcoat-button, .topcoat-button--large
    width: 1.7em
    height: 1.7em
    line-height: 1
    margin: 0.5em auto
    background-repeat: no-repeat
    background-position: center

.menu.closed
  left: -30%

.quit
  background-image: url('../img/menu/exit.png')

.center-map
  background-image: url('../img/menu/map-center.png')

.power-up
  margin: 0.25em auto

.power-up.invisible
  background-image: url('../img/menu/power-up-invisibility.png')
.power-up.invincible
  background-image: url('../img/menu/power-up-invincibility.png')

.toggle-menu
  position: absolute
  top: -0.5em
  left: 100%
  margin: 0
  background-image: url('../img/menu/hamburger.png')

#map-canvas
  position: absolute
  width: 100%
  height: 100%

.bottom-controls
  position: fixed
  bottom: 0
  width: 100%
  height: 20%

.tag
  bottom: 12%
  width: 40%
  background-color: $color_dark_teal
  color: white

.hidden
  display: none

.scoreboard
  opacity: 0.6
  background-color: $color_dark_teal
  position: fixed
  top: 10%
  left: 10%
  right: 10%
  bottom: 10%
  width: 80%
  height: 80%
  z-index: 11
  overflow: auto
  table
    border-collapse: collapse
    tr
      border-bottom: 1px solid white
    tr:last-child
      border-bottom: none
    td, th
      border-left: 1px solid white
      padding: 0.5em
    td:first-child, th:first-child
      border-left: none

.modalMask
  opacity: 0.9
  width: 100%
  height: 100%
  z-index: 10
